.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}
.dialogsItem .active  {
    color: gold;
    padding: 2px;
}

.dialog {

}

.messages {
    padding: 10px;
}

.message {
}

.btnMessage {
    width: 100%;
    height: 30px;
}
.messageText {
    width: 99%;
    
}
.messageTextDiv {
    padding:4px;
}

.createMessageDiv {
    margin-top: 30%;
}
